<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <!-- Visual Studio offline paketlerini devre dışı bırakıyoruz -->
        <!-- <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" /> -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
    <!-- Diğer kaynakları devre dışı bırak -->
    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
    <fallbackPackageFolders>
        <clear />
    </fallbackPackageFolders>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <bindingRedirects>
        <add key="skip" value="False" />
    </bindingRedirects>
    <packageManagement>
        <add key="format" value="0" />
        <add key="disabled" value="False" />
    </packageManagement>
    <!-- Hata ayıklama için detaylı log -->
    <config>
        <add key="globalPackagesFolder" value="packages" />
        <!-- Sadece proje seviyesindeki config'i kullan -->
        <add key="defaultPushSource" value="https://api.nuget.org/v3/index.json" />
    </config>
</configuration> 